<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>登录</h1>

<form>
    <div>
        <label>用户名</label>
        <input type="text"  id="username" placeholder="用户名">
    </div>
    <div>
        <label>密码</label>
        <input type="text" id="password" placeholder="请输入用户名称">
    </div>
    <button type="button" onclick="find()">忘记密码</button>
    <button type="button" onclick="login()">登录</button>
</form>
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript">

    function login(){
        $.ajax({
            type: "GET",
            url: "/user/login",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data:
                {
                    "username":$("#username").val(),
                    "password":$("#password").val()
                }

            ,
            success: function (message) {
                if(message !=null){
                    window.location.href="/user/tosucc";
                }else{
                    alert("登录失败");
                }
            }
        });
    }

    function find(){
        $.ajax({
            type: "GET",
            url: "/user/tofind",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data:
                {
                    "username":$("#username").val()
                }

            ,
            success: function (message) {
                if(message !=null){
                    window.location.href="/user/find";
                }else{
                    alert("邮件发送失败");
                }
            }
        });
    }
</script>
</body>
</html>